<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Web02_AM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- 配置web应用上下文对象的参数 (服务器启动时就会初始化)-->
  <context-param>
  	<param-name>driver</param-name>
  	<param-value>oracle.jdbc.driver.OracleDerver</param-value>
  </context-param>
  <servlet>
  	<servlet-name>Fuxi</servlet-name>
  	<servlet-class>com.yosakura.web.servlet.FuxiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Fuxi</servlet-name>
  	<url-pattern>/Fuxi</url-pattern>
  </servlet-mapping>
</web-app>