<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.yulu.mybatis.mapper.OrderMapper">
	<!-- 通过订单关联查询用户信息 -->
	<resultMap type="Order" id="orderUser">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="number" column="number"/>
		<result property="createTime" column="createtime"/>
		<result property="note" column="note"/>	
		<!-- 配置一对一关联对象 -->
		<association property="user" javaType="com.yulu.entity.User">
			<id property="id" column="user_id"/>
		</association>
	</resultMap>
	<select id="findAllOrderUser" resultMap="orderUser">
		SELECT o.id,o.user_id,o.number,o.createtime,o.note,u.username
		FROM `user` u left join `order` o 
		on o.user_id = u.id 
	</select>
</mapper>
