.dropdown>.btn-red {
    border-radius: 3px 0 0 3px;
    background-color: #f00;
    width: 94px;
    color: white;
    height: 36px;
    outline: none;
    position: relative;
    z-index: 3;
}
button.btn.btn-red.focus,.button.btn.btn-red:focus,.button.btn.btn-red:hover {
    color: white;
}
.dropdown>.btn-red:hover,.dropdown>.btn-red:focus {
    color: white;
}
.dropdown>.bg-orange{
    background-color: #ff9a78;
    z-index: 10;
    margin-left: 15px;
}
.dropdown>.bg-orange>li:hover,.dropdown>.bg-orange>li>a:hover{
    background-color: #ff4c11;
    cursor:hand;
}
.open>.dropdown-menu {
    min-width: 0%;
}
.container>.pad-left-0 {
    padding-left: 0;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-top-30 {
    margin-top: 30px;
}
.nav_bar {
    background: #ff4c11;
    height: 30px;
}
.nav_bar_container {
    width: 960px;
    margin: 0 auto;
}
.nav_bar_container ul li {
    float: left;
    color: #cccccc;
    margin-right: 5px;
    height: 28px;
    line-height: 28px;
}
.nav_bar_container ul li > a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.login_menu {
    height: 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.07);
}
.login_container {
    width: 960px;
    margin: 0 auto;
    height: 30px;
}
.m_left {
    float: left;
    margin-left: 30px;
    position: relative;
    top: 5px;
}
.m_left li {
    float: left;
}
.m_right {
    float: right;
    position: relative;
    top: 5px;
}
.m_right li {
    float: left;
    margin-left: 15px;
}
#input_info {
    border: #f00 3px solid;
    width: 440px;
    height: 36px;
    float: left;
    padding: 0 10px;
    outline:none;
}
.query_button {
    width: 140px;
    height: 36px;
    background: #ff0000;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    outline:none;
}
.login_container .c_red {
    color: red;
}
.margin-left-22{
    margin-left: 22px;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
span.c_red.dialog_login_click:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
.height-120{
    height: 120px;
}
.modal.in .modal-dialog {
    width: 300px;
    position: absolute;
    top: 20%;
    left: 40%;
}
.margin-top-15 {
    margin-top: 15px;
}
button#choose_btn_classify {
    font-size: 16px;
    line-height: 24px;
    font-weight: bolder;
}