<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx 
         http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
        
        <!-- 开启属性注解扫描 -->
        <context:annotation-config/>
        <!-- 获取action控制权 -->
        <bean id="customerAction" class="com.yulu.web.action.CustomerAction" scope="prototype"></bean>
        <!-- dao -->
        <bean id="customerDao" class="com.yulu.dao.impl.CustomerDaoImpl" >
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        <!-- Service -->
        <bean id="customerService" class="com.yulu.service.impl.CustomerServiceImpl"></bean>
        
		<!-- 创建一个hibernateTemplate模板,测试里面的常用方法 -->
        <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate" >
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
		<context:property-placeholder location="classpath:jdbc.properties"/>
		
		<!-- Spring整合Hibernate(数据源，其它属性，映射文件 -->
		<!-- 配置C3P0数据源 -->
		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
			<property name="driverClass" value="${jdbc.driverClass}" />
			<property name="jdbcUrl" value="${jdbc.url}" />
			<property name="user" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
		</bean>
		
		<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
			<!-- 注入数据源 -->
			<property name="dataSource" ref="dataSource"/>
			
			<property name="hibernateProperties">        
        		<props>
		            <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
		            <prop key="hibernate.format_sql">true</prop>
		            <prop key="hibernate.show_sql">true</prop>
		            <prop key="hibernate.hbm2ddl.auto">update</prop>
		            <prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</prop>
		        </props>        
		    </property>
		    <property name="mappingResources">
		    	<list> 
	               <value>com/yulu/entity/Customer.hbm.xml</value>
	               <!-- <value>com/yulu/entity/Linkman.hbm.xml</value>   -->
	            </list> 
		    </property>
		</bean>
		
		<!-- 创建Spring管理Hibernate的事务平台管理器 -->
		<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
			<!-- 通过Spring来管理sessionFactory 会创建session会话对象 -->
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<!-- 开启事务注解 -->
		<tx:annotation-driven transaction-manager="transactionManager"/>

		
</beans>